*  {
    box-sizing: border-box;
}

p, blockquote {
    background-color: coral;
    padding: 1rem;
    margin: .5rem;
   
}

.numbers p {
    font-size: 3rem;
}

p.grande {
    font-size: 5rem;
    order: 1
}

*:nth-child(1){
    order: 2
}

p:nth-of-type(2) {
    order: 1
}

.container {
    margin-top: 2rem;
    height: 70vh;
    border: 1px solid;
    display: flex;
    /*Determina el eje principal*/
    flex-direction: row;
    flex-wrap: wrap;
    /* Distribución en el eje principal*/
    justify-content: space-between;
    /* Distribución en el eje secundario*/
    align-items: flex-start;
    /* Distribución entre varias filas*/
    align-content: flex-end;
}

.text-container {
    margin-top: 2rem;
    display: flex;
    /* flex-direction: column; */
}